WONCA_RAG_PROJECT_ROOT=
WONCA_RAG_DATA_ROOT=
WONCA_RAG_ARTIFACTS_ROOT=
WONCA_RAG_OUTPUTS_ROOT=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=us-east-1

OPENAI_API_KEY=
HF_TOKEN=
